@using Laboratorium_3___App_ns.Models.PCCreator;
@model PC
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-md card d-flex flex-column justify-content-center mb-4 mt-5 px-5">
    <h1 class="display-5 text-center mb-4 mt-5">NAZWA ZESTAWU</h1>
    <a class="btn btn-primary mx-auto mb-4" asp-action="Index">
        <i class="fa fa-backward"></i>
        Powrót
    </a>

    <table class="table table-hover table-striped text-center">
        <thead class="table-primary">
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Wartość</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var property in ViewData.ModelMetadata.Properties)
            {
                if (property.Name != "Id" && property.Name != "Created")
                {
                    var propertyValue = property.PropertyGetter(Model) == null ? "---" : property.PropertyGetter(Model);
                    <tr>
                        <td>@property.DisplayName</td>
                            <td>@propertyValue</td>
                    </tr>
                }  
                if (property.Name == "Created")
                {
                    var createdDate = property.PropertyGetter(Model);
                    string formattedDate = createdDate == null ? "---" : ((DateTime)createdDate).ToString("yyyy-MM-dd");

                    <tr>
                            <td>Dodano: </td>
                            <td>@formattedDate</td>
                    </tr>
                }
 
            }
        </tbody>
    </table>
</div>
